<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <div>
        <h1>Hello World!</h1>
    </div>
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum deleniti quo, molestiae qui minima ullam voluptate suscipit natus asperiores, doloribus sequi architecto nostrum, temporibus nisi. Ipsum sed maxime harum odit.</p>
    </div>
</body>
</html>